{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
    <div class="container my-5">
        <h1>About Me</h1>
        <div class="card my-4">
            <div class="card-body">
                <h5 class="card-title">Welcome to My Todo App</h5>
                <p class="card-text">
                    This is a simple and efficient todo application built to help you manage your daily tasks.
                    Keep track of what you need to do, update your progress, and delete completed tasks.
                </p>
                <hr>
                <h5>About the Developer</h5>
                <p>
                    Hi! My name is Aamir Neyazi. I'm a developer B.Tech CSE student, passionate about creating useful applications.
                    This todo app was built using Flask and Bootstrap to provide a clean,
                    user-friendly interface for task management.
                </p>
                <hr>
                <h5>Features</h5>
                <ul>
                    <li>Add new todos with title and description</li>
                    <li>View all your todos in an organized table</li>
                    <li>Update existing todos</li>
                    <li>Delete completed tasks</li>
                    <li>Search through your todos</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}